.u-section-1 {
  background-image: url("/images/hos.jpeg");
  background-position: 74.39% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  width: 449px;
  margin: -7px 320px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 791px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 3px;
}

.u-section-1 .u-group-1 {
  width: 487px;
  background-image: none;
  min-height: 785px;
  height: auto;
  --animation-custom_in-scale: 1;
  margin: 0 -19px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 271px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 715px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 91px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  min-height: 570px;
}

.u-section-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-2 .u-group-1 {
  min-height: 357px;
  height: auto;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 12px 185px 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: bold;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 0 0 20px;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 0 0 20px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 51px;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 577px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 26px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-scale: 1;
  margin: 17px 0 0;
}

.u-section-3 .u-list-1 {
  width: 1003px;
  margin: 53px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 100px 100px;
  grid-template-columns: calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px);
  min-height: 276px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px 10px;
}

.u-section-3 .u-group-1 {
  min-height: 253px;
  height: auto;
  width: 233px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 0 30px;
}

.u-section-3 .u-icon-1 {
  width: 100px;
  height: 100px;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 2px 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px 10px;
}

.u-section-3 .u-group-2 {
  min-height: 253px;
  height: auto;
  width: 233px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 3px 0 30px;
}

.u-section-3 .u-icon-2 {
  width: 100px;
  height: 100px;
  background-image: none;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 2px 0;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px 10px;
}

.u-section-3 .u-group-3 {
  min-height: 253px;
  height: auto;
  width: 233px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 3px 0 30px;
}

.u-section-3 .u-icon-3 {
  width: 100px;
  height: 100px;
  background-image: none;
  margin: 34px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 37px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 255px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 741px;
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #293333 !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #293333 !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #293333 !important;
}.u-section-4 .u-sheet-1 {
  min-height: 695px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  min-height: 599px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  object-position: 83.5% 50%;
  width: 430px;
  height: 305px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 599px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-style: italic;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  width: 28px;
  height: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -30px 115px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-4 .u-group-1 {
    min-height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 376px;
    height: 267px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-4 .u-image-1 {
    width: 288px;
    height: 205px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 71px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 693px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 49px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 596px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-icon-1 {
  width: 28px;
  height: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -34px 248px 0 auto;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 596px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-group-1 {
  min-height: 599px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  width: 257px;
  height: 471px;
  object-position: 100% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 200px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 491px;
  }

  .u-section-5 .u-group-1 {
    min-height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 148px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 705px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 91px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 444px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 874px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 792px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  min-height: 599px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-6 .u-image-1 {
  width: 329px;
  height: 377px;
  object-position: 0% 50%;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 822px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 30px auto 0 30px;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 14px auto 0 30px;
}

.u-section-6 .u-icon-1 {
  width: 28px;
  height: 28px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -389px 76px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 28px;
  height: 28px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 134px 111px 0 auto;
  padding: 0;
}

.u-section-6 .u-list-1 {
  width: 654px;
  margin: 216px 0 0 30px;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 178px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-6 .u-icon-3 {
  width: 106px;
  height: 106px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 14px auto 0 15px;
  padding: 11px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 16px auto 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-6 .u-icon-4 {
  width: 106px;
  height: 106px;
  margin: 14px auto 0 15px;
  padding: 11px;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 16px auto 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-6 .u-icon-5 {
  width: 106px;
  height: 106px;
  margin: 14px auto 0 15px;
  padding: 11px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 16px auto 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-6 .u-icon-6 {
  width: 106px;
  height: 106px;
  margin: 14px auto 0 15px;
  padding: 11px;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-6 .u-group-1 {
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 678px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 73px;
  }

  .u-section-6 .u-list-1 {
    width: 564px;
    margin-top: 114px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 152px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-6 .u-image-1 {
    width: 288px;
    height: 330px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 389px;
  }

  .u-section-6 .u-list-1 {
    width: 432px;
    margin-top: -202px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 625px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -438px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 181px;
}

.u-section-7 .u-text-1 {
  margin: 7px 0 20px 12px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-btn-5 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-7 .u-btn-6 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-7 .u-btn-7 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-7 .u-btn-8 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
  }
}