.u-section-6 .u-sheet-1 {
  min-height: 407px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 300px;
  margin: 53px 43px 0 auto;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -254px auto 0 46px;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px auto 60px 46px;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 284px;
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: -189px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 179px;
  }
}

.u-section-7 {
  min-height: 570px;
}

.u-section-7 .u-sheet-1 {
  min-height: 570px;
}

.u-section-7 .u-group-1 {
  min-height: 357px;
  height: auto;
  margin-top: 73px;
  margin-bottom: 60px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  margin: 12px 0 0 20px;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 20px 36px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-top: 51px;
    margin-bottom: 52px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-7 .u-group-1 {
    margin-bottom: 0;
  }
}
.u-section-8 {
  min-height: 570px;
}

.u-section-8 .u-sheet-1 {
  min-height: 632px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 23px auto 0 0;
}

.u-section-8 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 39px;
}

.u-section-8 .u-repeater-1 {
  min-height: 514px;
  grid-auto-columns: calc(33.3333% - 23.3333px);
  grid-template-columns: calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px) calc(33.3333% - 23.3333px);
  grid-gap: 35px 35px;
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-1 {
  height: 298px;
  margin: 0 10px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-2 {
  height: 298px;
  margin: 0 10px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-3 {
  height: 298px;
  margin: 0 10px;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-4 {
  height: 298px;
  margin: 0 10px;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-5 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-5 {
  height: 298px;
  margin: 0 10px;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-6 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-6 {
  height: 298px;
  object-position: 0% 50%;
  margin: 0 10px;
}

.u-section-8 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-13 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-7 {
  padding: 23px 20px 30px;
}

.u-section-8 .u-image-7 {
  height: 298px;
  object-position: 0% 50%;
  margin: 0 10px;
}

.u-section-8 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 9px 0;
}

.u-section-8 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-8 .u-gallery-nav-1 {
  position: absolute;
  left: 9px;
  width: 40px;
  height: 40px;
  top: 255px;
}

.u-section-8 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 255px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 23.333299999999998px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 23.333299999999998px));
  }

  .u-section-8 .u-image-1 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-4 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-5 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-6 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-7 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-top: 592px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 17.499975px);
    grid-template-columns: repeat(2, calc(50% - 17.499975px));
  }

  .u-section-8 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-4 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-5 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-6 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-7 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-5 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-6 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-7 {
    height: 457px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-top: 658px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-4 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-5 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-6 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-7 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-9 {
  min-height: 570px;
}

.u-section-9 .u-sheet-1 {
  min-height: 340px;
}

.u-section-9 .u-group-1 {
  min-height: 307px;
  height: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 12px 36px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 329px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 498px;
}

.u-section-10 .u-group-1 {
  min-height: 409px;
  height: auto;
  width: 626px;
  margin: 20px auto 0 20px;
}

.u-section-10 .u-container-layout-1 {
  padding: 0;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px 311px 0 20px;
}

.u-section-10 .u-text-2 {
  font-weight: bold;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 0 0 20px;
}

.u-section-10 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 20px 36px 0 20px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  font-style: italic;
  padding: 0;
}

.u-section-10 .u-video-1 {
  width: 452px;
  height: 254px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -332px 36px 60px auto;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    margin-top: 51px;
    height: auto;
  }

  .u-section-10 .u-video-1 {
    height: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-10 .u-text-1 {
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 45px;
  }

  .u-section-10 .u-video-1 {
    width: 340px;
    height: 192px;
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 146px;
}

.u-section-11 .u-text-1 {
  margin: 7px 60px 7px 12px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-btn-3 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-11 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-11 .u-btn-6 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-btn-7 {
  background-image: none;
  margin-top: 0;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-btn-8 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}